<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title th:text="${title}">Title</title>

<style type="text/css">
.sortingColumn{
	cursor: pointer;
}
.ASC,
.DESC{
	text-decoration: underline;
}
</style>

</head>
<body>
	<div id="menuHolder"></div>

	<div class="container">
		<h1 th:text="${title}">Archive contents</h1>
		
		
		
		

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-3">
				<select class="form-control" id="nrOfResultsPerPage" required="required">
					<option disabled="disabled" value="">Results per page</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-9" style="vertical-align: bottom;">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<!--/* The page back button */-->
						<li class="page-item" th:class="${number eq 0} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" href="#" aria-label="Previous" th:href="@{${'/bot/archive'}(page=${number-1},size=${size},sort=${column + ',' + direction})}"> 
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						

						<li th:each="pageNo : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${number eq pageNo} ? active : ''">
							<!--/* If the current page is the same as this number, no action is needed */-->
							<a th:if="${number eq pageNo}" href="javascript:void(0);" class="page-link">
                				<span th:text="${pageNo + 1}"></span>
            				</a>
            				<!--/* Not the current page */-->
            				<a th:if="${not (number  eq pageNo)}" th:href="@{${'/bot/archive'}(page=${pageNo},size=${size},sort=${column + ',' + direction})}" class="page-link">
                				<span th:text="${pageNo + 1}"></span>
           					 </a>
						</li>

						
							
						
						<!--/* The page forward button */-->
						<li class="page-item" th:class="${number + 1 ge totalPages} ? 'page-item disabled' : 'page-item'">
							<a class="page-link" href="#" aria-label="Next" th:href="@{${'/bot/archive'}(page=${number+1},size=${size},sort=${column + ',' + direction})}">
								<span aria-hidden="true">&raquo;</span> 
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		
		
		<table class="table table-hover" xmlns:th="http://www.thymeleaf.org">
			<thead>
				<tr>
					<th scope="col" class="sortingColumn id">#</th>
					<th scope="col" class="sortingColumn handled">Command completed on</th>
					<th scope="col" class="sortingColumn messageId">Message ID</th>
					<th scope="col" class="sortingColumn chatId">Chat ID</th>
					<th scope="col" class="sortingColumn messageText">Message</th>
					<th scope="col" class="sortingColumn telegramUser.userName">Send by</th>
					<th scope="col" class="sortingColumn archived">Archived on</th>
					<th scope="col">Edit entry</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="archiveEntry : ${archivedEntries}">
					<th scope="row" th:text="${archiveEntry.id}">QueueEntry ID</th>
					<td th:text="${#dates.format(archiveEntry.handled, 'yyyy-MM-dd HH:mm:ss')}">completed on</td>
					<td th:text="${archiveEntry.messageId}">Message ID</td>
					<td th:text="${archiveEntry.chatId}">Chat ID</td>
					<td th:text="${archiveEntry.messageText}">Message Text</td>
					<td th:text="${archiveEntry.telegramUser.userName}">Username</td>
					<td th:text="${#dates.format(archiveEntry.archived, 'yyyy-MM-dd HH:mm:ss')}">date archived</td>
					<td>Delete</td>

				</tr>
			</tbody>
		</table>

	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
	

	
	<script th:inline="javascript">
		/*<![CDATA[*/
			
			// get some values from the controller
			var sortingValue = /*[[${sortString}]]*/ 'default';
			var currentPage = /*[[${number}]]*/ 0;
			var nrOfPages = /*[[${totalPages}]]*/ 3;
			var itemsPerPage = /*[[${size}]]*/ 10;
			
			var column;
	    	var direction;
			
			
			
			// triggered when clicking on a column
			$('.sortingColumn').click(function(){
				// if a column is clicked, the results will be sorted on this column
				// therefore redirect to page 0
				currentPage = 0;
				
				// get the entity name
				// this is the second element in the class value
				var classValue = $(this).attr('class');
				var entityName = classValue.split(" ")[1]
				var direction = classValue.split(" ")[2]
				
				// console.log(direction);
				
				if (typeof direction == 'undefined'){
					// if the direction is undefined, the new direction will be ASC
					redirectPage(currentPage, itemsPerPage, entityName, "ASC");
				} else if (direction == 'ASC'){
					// if the current direction is ASC, the new direction will be DESC
					redirectPage(currentPage, itemsPerPage, entityName, "DESC");
					return;
				}else if (direction == 'DESC' && entityName == 'id'){
					// if the current direction is DESC and the clicked column is id
					// then set the new direction to ASC
					redirectPage(currentPage, itemsPerPage, entityName, "ASC");
				}else if (direction == 'DESC'){
					// finally, if the current direction is DESC, the new direction is empty
					// the default sorting will be triggered
					redirectPage(currentPage, itemsPerPage, entityName, "");
				}
				
				
			});
				
			function redirectPage(page, size, column, direction){
				var sortPart = "&sort=" + column + "," + direction;
				if(direction != "ASC" && direction != "DESC"){
					sortPart = "";
				}
				var getData = "?page=" + page + "&size=" + size +  sortPart;

				window.location.href = getData;
			}
			
			
			function setTheCurrentSortingProperties(){
				
			    // split to key/value pairs
			    var sortingKeyValuePairs = sortingValue.split(",");
			    //console.log(sortingKeyValuePairs);
			    
			    // loop through the key/value pairs
			    for (keyValuePair of sortingKeyValuePairs) {
			    	//console.log(keyValuePair);
			    	
			    	// split the key/value into the column and the direction
			    	column = keyValuePair.split(": ")[0];
			    	direction = keyValuePair.split(": ")[1];
			    	
			    	// now find the column (the column name is in the class)
			    	var columnObject = $('.' + column);
			    	// set the current direction
			    	columnObject.addClass(direction);
			    	
			    }
			    
			}
			
			function setResultsPerPageSelector(){
				$('#nrOfResultsPerPage').val(itemsPerPage);
			}
			
			$('#nrOfResultsPerPage').change(function(){
				var size = $(this).val();
				console.log(size);
				
				
				redirectPage(currentPage, size, column, direction)
			});
			
		
			$(function() {
				setResultsPerPageSelector();
				setTheCurrentSortingProperties();
			});
		    
		    
		
		/*]]>*/
	</script>



</body>
</html>