<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

	<title th:text="${title}">Title</title>
</head>
<body>
	<div id="menuHolder"></div>
	
	<div class="container">
		<h1 th:text="${title}">Queue contents</h1>
		
		<p>
			<button type="button" class="btn btn-primary" id="refreshPage">Refresh</button>
			<button type="button" class="btn btn-danger" id="stopBot">Stop bot</button>
			<button type="button" class="btn btn-success" id="startBot">Start bot</button>
		</p>
		
		<div id="botActionStatus"></div>
		<div id="queueContentHolder"></div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
		
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/menu.js" ></script>
	
	<script>
		function getQueueContents(){
			$.get("/bot/queue/results", function(data) {
				$("#queueContentHolder").html(data);
			});
		}
		
		$('#refreshPage').click(function(){
			getQueueContents();		
		});
		
		$('#stopBot').click(function(){
			$.get("/bot/action/stop", function(data) {
				$("#botActionStatus").html(data);
			});
		});
		
		$('#startBot').click(function(){
			$.get("/bot/action/start", function(data) {
				$("#botActionStatus").html(data);
			});
		});
	
		$(function() {
			getQueueContents();
		});
	</script>
	
</body>
</html>